TZ=Asia/Shanghai

dns-record-updater.cloudflare.bearer-token=dummy
dns-record-updater.cloudflare.zone-id=dummy
dns-record-updater.cloudflare.record-id=dummy
dns-record-updater.cloudflare.record-name=dummy
